@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

li {
  margin: 0 0.5em 0 0.5em;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: .75em 1.5em;
}

.left-links {
  margin-left: 1em;
}

.right-links {
  margin-right: 1em;
}