body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
  justify-self: start;
  display: flex;
  align-items: center;
  padding-left: 16px;
  flex-grow: 0;
}

.content {
  display: flex;
  flex-grow: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;  
}

.sidebar a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

li {
  margin: 1em;
}

.cards {
  display: flex;
  flex-wrap:wrap;
  gap: 32px;
  padding: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  flex: 1 1 300px;
  max-width: 400px;
}

